.mainheader {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  margin-top: 80px;

  min-height: 500px;

  background-image: url("images/home-banner.jpg");
  background-position: center 0;
  background-repeat: no-repeat;
}

.header {
}

@media only screen and (min-width: 991px) {
  .mainheader {
    min-height: 700px;
    background-position: center 0;
    background-repeat: no-repeat;
  }
}
