.mainheader{
   position: absolute;
  
   top:0;
   
   margin-top: 96px;
   width: 100%;
}

.header{
  min-height: 500px;
 
 
    background-image: url('images/home-banner.jpg');
    background-position: center ;
}