.mainheader{
   position: absolute;
  left: 0;
   top:0;
   right: 0;
   margin-top: 80px;
   
}

.header{

height: 500px;
 
    background-image: url('images/home-banner.jpg');
    background-position: center  ;
  

}