@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700,700i|Roboto:300,400,500,700");



.header {
  
  
}
.nav {
 
  display: flex;
  
  align-items: center;
  padding: 0 15px;
 
}
.nav__left{}
.nav__link{
  margin-right: 1rem;
}
.nav__right {
  display: flex;
  align-items: center;
  margin-left: auto;
  flex-basis: auto;
 
}

.menu {
  display: flex;
  

 
}

.menu___item{
    margin-right: 40px;
    position: relative;
}

.menu__link {
  color: black;

 
  font: 500 14px/80px "Roboto", sans-serif;
 
 
}
.menu > li:first-child a{
  color: red;
}
.active::before{
  content: '';
  position: absolute;
  right: 0px;
  top: 39px;
  left: -13px;
  height: 2px;
  background: #f81c1c;
  z-index: -1;
}
.menu___item:not(.active)::before{
  content: '';
    position: absolute;
    right: 0px;
    top: 39px;
    left: 100%;
    height: 2px;
    background: #f81c1c;
    z-index: -1;
    

}
.menu___item:hover::before{
  transition: all 300ms;
  left: -13px;
}
.menu > li a:hover{
color: red;
}
.menu___item:not(.menu > li:last-of-type)::after{
  content: "/";
  position: absolute;
  top:28px;
 right: -23px;
  font-size: 19px;
  transform: rotate(-6deg);
  

}
.menu > li:last-of-type{
  
}
.btn-search{
margin-left: 5rem;
}
.link--search{
    color: #1a1d24;
    font-size: 14px;
    font-weight: 900
}
