@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700,700i|Roboto:300,400,500,700");
.logo{
}
.hamber{
    
    height: 21px;
    display: flex;
    flex-direction: column;
 
    justify-content: space-around;
    align-items: center;
}
.child{
    width:21px ;
    height: 3px;
    background-color: brown;
}
.child2{
    transition: all 2s;
}
.hidden{
   opacity: 0;
}

.child3 , .child1{
    transition: all 1s;
}
.rot45{
    transform:translateY(-10px) rotate(45deg) ;
}
.rot-45{
    transform:translateY(10px) rotate(-45deg) ;
}