
.logo{
   
}

.nav1{
    background-color: #ffffff;
    z-index: 99;
    
}

#menu{
    
 
    font-size: 14px;
   
}
.nav1{
    position: relative;
    z-index: 999;
}
.menu__list{
   
    transition:all 2s ease-in;
}
@media only screen and (min-width: 991px){
   #menu{
       line-height: 4rem;

    }
    .nav1{
        background: none;
       }
}